name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.6', python: '3.6', tox: py36}
          - {name: '3.7', python: '3.7', tox: py37}
          - {name: '3.8', python: '3.8', tox: py38}
          - {name: '3.9', python: '3.9', tox: py39}
          - {name: PyPy3, python: pypy3, tox: pypy3}
          - {name: Style, python: '3.9', tox: flake8}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Update pip
        run: |
          pip install -U wheel
          pip install -U setuptools
          python -m pip install -U pip
      - run: pip install tox
      - run: tox -v -e ${{ matrix.tox }}
